<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Blog</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../public/css/style.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Tech-Blog</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Login</a>
                </li>
            </ul>
        </div>
    </nav>
    <h1 class="m-3">Home</h1>
    <div class="card m-3" style="width: 70rem;">
        <div class="card-body">
            <h5 class="card-title border-bottom">Title</h5>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nulla esse deleniti impedit
                enim rem harum amet cumque, voluptatum repellendus. Non eum dolore, corrupti ullam ducimus fuga sequi!
                Tenetur, quaerat obcaecati.
                Ipsam, quam! Porro odit eum nam laboriosam voluptatibus ea aut harum molestiae aliquam consectetur ipsum
                eligendi nemo cupiditate ab est, impedit quos! Nulla in necessitatibus at impedit veniam! Incidunt,
                fugiat?</p>
        </div>
    </div>
    <div class="card m-3" style="width: 70rem;">
        <div class="card-body">
            <h5 class="card-title border-bottom">Comment</h5>
            <div class="form-group">
                <label for="content">Content</label>
                <textarea class="form-control" id="content" rows="3"></textarea>
            </div>
            <button type="button" class="btn btn-primary">Post Comment</button>
        </div>
    </div>

</body>

</html>