<h1 class="m-3">Home</h1>
<div class="card m-3" style="width: 70rem;">
    <div class="card-body">
        <h5 class="card-title border-bottom">{{blogs.title}}---{{blogAuth.username}}---{{format_date
            blogs.date_created}}</h5>
        <p class="card-text">{{blogs.content}}</p>
    </div>
</div>
<div class="card m-3" style="width: 70rem;">
    <div class="card-body">
        <h5 class="card-title border-bottom">Comment</h5>
        <div class="form-group">
            <textarea class="form-control" id="content" rows="3"></textarea>
        </div>
        <button type="button" class="btn btn-primary" id="newCommentBtn">Post Comment</button>
    </div>
</div>
<script src="/js/script.js"></script>