<h1 class="m-3">Dashboard</h1>
<form class="m-5 border p-3">
    <h2>Edit Post</h2>
    <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" id="title" placeholder="Enter TItle" value="{{blogs.title}}">
    </div>
    <div class="form-group">
        <label for="content">Content</label>
        <textarea class="form-control" id="content" rows="3">{{blogs.content}}</textarea>
    </div>
    <button type="submit" class="btn btn-primary" id="update">Update</button>
    <button type="submit" class="btn btn-danger" id="delete">Delete</button>
</form>
<script src="/js/edit.js"></script>